OPENAI_API_KEY=your-api-key-here
OPENAI_API_KEY_FLASH=your-api-key-here

OPENAI_API_BASE=your-api-base-here
OPENAI_API_BASE_FLASH=your-api-base-here

ANTHROPIC_API_KEY=your-api-key-here

ANTHROPIC_API_BASE=your-api-base-here

LLM_MODEL_NAME=gpt-4o
LLM_FLASH_MODEL_NAME=qwen-flash

USE_RESPONSES_API=True
USE_RESPONSES_API_FLASH=False

#E2B_API_KEY=your-api-key-here

PPIO_API_KEY=your-api-key-here
PPIO_TEMPLATE=your-template-here